# Environment
NODE_ENV=dev
PORT=3334

# Caminho para direcionar após checkout: sucesso ou falha (sem barra no final)
FRONTEND_URL=http://localhost:5174

# ----------------------------------------------------
# Stripe Keys Gateway

# Stripe chave secreta da sua conta
STRIPE_SECRET_KEY=
# ID do plano mensal criado no painel do Stripe
STRIPE_PRICE_ID=
# Segredo para validar a assinatura do webhook
STRIPE_WEBHOOK_SECRET=

# ----------------------------------------------------
# Jellyfin Keys Server

# URL do servidor Jellyfin (sem barra no final)
JELLYFIN_URL=http://localhost:8096
# API key do Jellyfin para realizar operações de leitura e escrita
JELLYFIN_API_KEY=
